//
   Created by Urvesh on 8/23/15.

extends layout

block content
    form(action='/searchAlbum', method='get')
        label Enter the album name:
        input(type='text', name='album')
        input(type='submit')